<div class="main" style="min-height: 100vh;" [ngStyle]="{'background-color': bodyBgColor}">
    <div [ngStyle]="{position:'relative', 'background-color': bgColor, 'color': color}">
        <div class="menu"><span class="nav-link" routerLink="merge-map" routerLinkActive="active">MergeMap / FlatMap</span>
        </div>
        <div class="menu"><span class="nav-link" routerLink="concat-map" routerLinkActive="active">ConcatMap / tap / ForkJoin</span></div>
        <div class="menu"><span class="nav-link" routerLink="ngx-store" routerLinkActive="active">@Ngx Store</span></div>
        <div style="position:absolute; right:10px; top: 25%;">
            Hello {{user}}
        </div>
    </div> 
    <br/>
    <router-outlet></router-outlet>


</div>